.task {
  background-color: var(--bg-secondary-color);
  border-radius: 10px;
  transition: background-color 100ms ease-in;
  cursor: pointer;
}

.task.hovered { 
  background-color: var(--color-gray);
} 

.task__wrapper {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
}

.task__inputs { 
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.task__checkbox-label {
  display: flex;
  align-items: center;
  padding-left: 14px;
}

.task__checkbox-input:checked + .task__text-label {
  text-decoration: line-through;
  text-decoration-color: var(--color-dark-gray);
}

.task__text-label {
  flex-grow: 1;
  font-weight: var(--fw-medium);
  user-select: none;
}

.task__text-input {
  font-weight: var(--fw-medium);
}

.task__text-input:disabled {
  cursor: pointer;
  pointer-events: none;
}

.task__actions {
  display: flex;
  align-items: center;
  padding: 0 14px;
}

.task__copy,
.task__dropdown {
  flex-shrink: 0;
}

.task__copy-button,
.task__dropdown-button {
  padding: 5px;
}

.task__dropdown-action-button {
  width: 100%;
  text-align: left;
}